.box { width:300px; height:300px; border:5px solid red; 
	margin:100px auto; perspective:600px; }

.inner { width:300px; height:300px; background-color:yellowgreen; opacity: .7; 

	/* 2D & 3D -> transform 
	
		2D -> 점, 선, 면 (x축 , y축)
		3D -> 공간 (x축,y축,z축) , 원근감
	
	*/
	
	transform : translate3D(50px,100px,150px);
	transform : translateZ(-200px);
	
	transform : rotateZ(45deg);
	transform : rotate3d(0.5,0.4,0.7,45deg);
	
	/*transform : matrix()
	
		matrix -> transform 의 수치를 한번에 적용 하고 싶을때 사용한다
	*/	
	
	transform : rotateX(0deg);
	transform-origin: top left;
	transition: all .4s ease;
}

.box:hover .inner { 
	transform : rotateX(45deg);
}

/* 원근감 
	
	수치 : px

*/

.box1 , .box2 {
	border:5px solid black; width:780px; height:310px; 
	margin:50px auto;
}

.nemo { width:200px; height:250px; background-color:orangered; 
	margin:30px; float:left; 
}

/* 원근감 

	box1 => 부모에 원근감이 있을때
	box2 => 자기 자신한테 원근감이 있을때

	수치는 낮을수록 왜곡이 커진다.
*/

.box1 { perspective: 500px; }
.box1 .nemo { transform : rotateX(45deg); }

.box2 .nemo { transform : perspective(500px) rotateX(45deg); }

/* 3D 객체화 */

.poster { perspective:700px; }

.movie { width:250px; margin:200px auto 0; 	
		background:rgba(0,255,0,.4);
	
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	
	animation: spin 4s linear infinite;
}

.movie img { width:100%; vertical-align:top; 
	transform: rotateX(0deg);
	transform-origin: top;
	transition: all .4s ease;
}

@keyframes spin {
	from { transform:rotateY(0); }
	to { transform:rotateY(360deg); }
}

.poster:hover .movie img { transform: rotateX(30deg); }


















